<p id="notice"><%= notice %></p>

<p>
  <strong>Platform:</strong>
  <%= @ad.platform %>
</p>

<p>
  <strong>Group:</strong>
  <%= @ad.group_id %>
</p>

<p>
  <strong>Ad type:</strong>
  <%= @ad.ad_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<p>
  <strong>Media 1 url:</strong>
  <%= @ad.media_1_url %>
</p>

<p>
  <strong>Media 1 subtitle:</strong>
  <%= @ad.media_1_subtitle %>
</p>

<p>
  <strong>Media 1 title:</strong>
  <%= @ad.media_1_title %>
</p>

<p>
  <strong>Media 1 link:</strong>
  <%= @ad.media_1_link %>
</p>

<p>
  <strong>Media 2 url:</strong>
  <%= @ad.media_2_url %>
</p>

<p>
  <strong>Media 2 title:</strong>
  <%= @ad.media_2_title %>
</p>

<p>
  <strong>Media 2 link:</strong>
  <%= @ad.media_2_link %>
</p>

<p>
  <strong>Media 2 subtitle:</strong>
  <%= @ad.media_2_subtitle %>
</p>

<p>
  <strong>Media 3 url:</strong>
  <%= @ad.media_3_url %>
</p>

<p>
  <strong>Media 3 title:</strong>
  <%= @ad.media_3_title %>
</p>

<p>
  <strong>Media 3 link:</strong>
  <%= @ad.media_3_link %>
</p>

<p>
  <strong>Media 3 subtitle:</strong>
  <%= @ad.media_3_subtitle %>
</p>

<p>
  <strong>Media 4 url:</strong>
  <%= @ad.media_4_url %>
</p>

<p>
  <strong>Media 4 title:</strong>
  <%= @ad.media_4_title %>
</p>

<p>
  <strong>Media 4 link:</strong>
  <%= @ad.media_4_link %>
</p>

<p>
  <strong>Media 4 subtitle:</strong>
  <%= @ad.media_4_subtitle %>
</p>

<p>
  <strong>Media 5 url:</strong>
  <%= @ad.media_5_url %>
</p>

<p>
  <strong>Media 5 title:</strong>
  <%= @ad.media_5_title %>
</p>

<p>
  <strong>Media 5 link:</strong>
  <%= @ad.media_5_link %>
</p>

<p>
  <strong>Media 5 subtitle:</strong>
  <%= @ad.media_5_subtitle %>
</p>

<p>
  <strong>Media 6 url:</strong>
  <%= @ad.media_6_url %>
</p>

<p>
  <strong>Media 6 title:</strong>
  <%= @ad.media_6_title %>
</p>

<p>
  <strong>Media 6 link:</strong>
  <%= @ad.media_6_link %>
</p>

<p>
  <strong>Media 6 subtitle:</strong>
  <%= @ad.media_6_subtitle %>
</p>

<p>
  <strong>Media 7 url:</strong>
  <%= @ad.media_7_url %>
</p>

<p>
  <strong>Media 7 title:</strong>
  <%= @ad.media_7_title %>
</p>

<p>
  <strong>Media 7 link:</strong>
  <%= @ad.media_7_link %>
</p>

<p>
  <strong>Media 7 subtitle:</strong>
  <%= @ad.media_7_subtitle %>
</p>

<p>
  <strong>Media 8 url:</strong>
  <%= @ad.media_8_url %>
</p>

<p>
  <strong>Media 8 title:</strong>
  <%= @ad.media_8_title %>
</p>

<p>
  <strong>Media 8 link:</strong>
  <%= @ad.media_8_link %>
</p>

<p>
  <strong>Media 8 subtitle:</strong>
  <%= @ad.media_8_subtitle %>
</p>

<p>
  <strong>Media 9 url:</strong>
  <%= @ad.media_9_url %>
</p>

<p>
  <strong>Media 9 title:</strong>
  <%= @ad.media_9_title %>
</p>

<p>
  <strong>Media 9 link:</strong>
  <%= @ad.media_9_link %>
</p>

<p>
  <strong>Media 9 subtitle:</strong>
  <%= @ad.media_9_subtitle %>
</p>

<p>
  <strong>Media 10 url:</strong>
  <%= @ad.media_10_url %>
</p>

<p>
  <strong>Media 10 title:</strong>
  <%= @ad.media_10_title %>
</p>

<p>
  <strong>Media 10 link:</strong>
  <%= @ad.media_10_link %>
</p>

<p>
  <strong>Media 10 subtitle:</strong>
  <%= @ad.media_10_subtitle %>
</p>

<p>
  <strong>Scheduled at:</strong>
  <%= @ad.scheduled_at %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
