<p id="notice"><%= notice %></p>

<h1>Contests</h1>
<%= link_to '+ New Contest', new_contest_path, class: 'new-resource-link' %>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Entry Fee</th>
      <th>Total Prize</th>
      <th>Entrants</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <td><%= number_to_currency(contest.entry_fee) %></td>
        <td><%= number_to_currency(contest.guaranteed_prize_pool) %></td>
        <td><%= "#{contest.current_entrants}/#{contest.max_entrants}" %></td>
        <td><%= contest.entry_deadline.in_time_zone('Central Time (US & Canada)').strftime("%m/%d/%Y %I:%M%P") %></td>
        <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
        <td><%= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
